<%- include('partials/header') -%>
<h1>Home</h1>
<p>
	<%= startingContent %>
</p>

<% posts.forEach(post => { %>
<h1><%= lodash.capitalize(post.title.split('-').join(' ')) %></h1>
<p><%= lodash.truncate(post.content, {"length": 100})%><a href="posts/<%= lodash.kebabCase(post.title) %>"> Read
		More</a></p>
<% }); %>

<%- include('partials/footer') -%>